<!DOCTYPE html>
<html>
<head>
  <title>Admin panel</title>
</head>
<body>
<h1>Admin Panel</h1>
<a href="/admin/add">Add Anime</a> | <a href="/">Home</a> | <a href="/logout">Logout</a>
<table border="1">
<tr><th>Title</th><th>Video</th><th>Actions</th></tr>
<% animes.forEach(a => { %>
<tr>
  <td><%= a.title %></td>
  <td>
    <% if(a.video && !a.video.startsWith('http')) { %>
      <video width="150" controls>
        <source src="/uploads/<%= a.video %>" type="video/mp4">
      </video>
    <% } else if(a.video) { %>
      <a href="<%= a.video %>">YouTube link</a>
    <% } %>
  </td>
  <td>
    <a href="/admin/edit/<%= a.id %>">Edit</a> |
    <a href="/admin/delete/<%= a.id %>" onclick="return confirm('Are you sure?')">Delete</a>
  </td>
</tr>
<% }) %>
</table>
</body>
</html>
