<!DOCTYPE html>
<html>
<head>
  <title>Anime Sayt</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Salom, <%= user.username %>!</h1>
<a href="/logout">Logout</a>
<form method="GET" action="/">
  <input type="text" name="search" value="<%= search %>" placeholder="Search anime">
  <button type="submit">Search</button>
</form>
<ul>
  <% animes.forEach(a => { %>
    <li>
      <strong><%= a.title %></strong><br>
      <% if(a.video && !a.video.startsWith('http')) { %>
        <video width="300" controls>
          <source src="/uploads/<%= a.video %>" type="video/mp4">
        </video>
      <% } else if(a.video) { %>
        <a href="<%= a.video %>">YouTube link</a>
      <% } %>
    </li>
  <% }) %>
</ul>
<% if(user.role === 'admin') { %>
  <a href="/admin">Admin panel</a>
<% } %>
</body>
</html>
